{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-5 auth-card">
        <h3>Создать аккаунт</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100 mt-3">Зарегистрироваться</button>
        </form>
        <p>Уже есть аккаунт? <a href="{% url 'user_app:login' %}">Войти</a></p>
    </div>
</div>
{% endblock %}
